{% extends "page.html" %}

{% block subtitle %}{{ _('Providers') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Providers'), controller='organization', action='index' %}</li>
{% endblock %}

{% block page_header %}{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content">
      {% block page_primary_action %}
        {% if h.check_access('organization_create') %}
          {% link_for _('Add Provider'), controller='organization', action='new', class_='btn btn-primary', icon='plus-sign-alt' %}
        {% endif %}
      {% endblock %}

      <h1 class="page-heading">{% block page_heading %}{{ _('Providers') }}{% endblock %}</h1>
      <h4>{{ _('NextGEOSS engages the main providers of earth observation data, including Copernicus Collaborative Ground Segments and Core Services. The data hub draws upon resources provided by public, commercial, and research institutions working with satellite, aerial, and in situ measurements.') }}</h4>
      <h4>{{ _('The following providers are currently integrated in the NextGEOSS system:') }}</h4>

      {% set count = c.page.items|length %}
      {% set providers_count = ungettext('{number} provider', '{number} providers', count) %}
      {% set providers_none = _('No providers found for "{query}"') %}
      {%- if count -%}
        {% set providers_count = providers_count.format(number=h.localised_number(count)) %}
      {%- else -%}
        {% set providers_count = providers_none %}
      {% endif %}
      <h2 class="text-center list-counter">{{ providers_count }}</h2>

      {% block organizations_list %}
        {% if c.page.items or request.params %}
          {% if c.page.items %}
            {% snippet "organization/snippets/organization_list.html", organizations=c.page.items %}
          {% endif %}
        {% else %}
          <p class="empty">
            {{ _('There are currently no providers for this site') }}.
            {% if h.check_access('organization_create') %}
              {% link_for _('How about creating one?'), controller='organization', action='new' %}</a>.
            {% endif %}
          </p>
        {% endif %}
      {% endblock %}

      {% block page_pagination %}
        {{ c.page.pager(q=c.q or '', sort=c.sort_by_selected or '') }}
      {% endblock %}
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}