{% extends "package/read_base.html" %}

{% set pkg = c.pkg_dict %}
{% set org_title = pkg.organization.get('title') or pkg.organization['name'] %}
{% set org_link = h.url_for(controller='organization', action='read', id=pkg.owner_org) %}
{% set thumbnail_path = h.ng_get_dataset_thumbnail_path(pkg) %}
{% set thumbnail = h.url_for_static(thumbnail_path)%}

{% block subtitle %}{{ _('Activity Stream') }} - {{ super() }}{% endblock %}

{% block pre_primary %}
  <div class="container single-column">
    {% snippet "package/snippets/nav_tabs.html", pkg=pkg %}
    {% block package_description %}
      <div class="dataset-detail-org-logo">
        <div class="image">
          <img src="{{ thumbnail }}" height= "210" width="210" alt="{{ pkg.name}} thumbnail" />
        </div>
      </div>
      {% if pkg.private %}
        <span class="dataset-private label label-inverse pull-right">
          <i class="fa fa-lock"></i>
          {{ _('Private') }}
        </span>
      {% endif %}
      <h1 class="dataset-detail-title">
        {% block page_heading %}
          {{ h.dataset_display_name(pkg) }}
          {% if pkg.state.startswith('draft') %}
            [{{ _('Draft') }}]
          {% endif %}
          {% if pkg.state == 'deleted' %}
            [{{ _('Deleted') }}]
          {% endif %}
        {% endblock %}
      </h1>
      <h5 class="dataset-detail-title">{{ _('Published by ') }} <a href="{{ org_link }}">{{ org_title }}</a></h5>
      <h5 class="dataset-detail-title">{{ _('Licensed under ') }} {% snippet "snippets/license_inline.html", pkg_dict=pkg %}</h5>
    {% endblock %}

    <section class="additional-info">
      <h3><i class="fa fa-info-circle"></i> {{ _('Activity Stream') }}</h3>
      <div class="activity-stream">
        {% block activity_stream %}
          {{ c.package_activity_stream | safe }}
        {% endblock %}
      </div>
    </section>
  </div>
{% endblock %}

{% block single_column %}
  {# prevents page template from inluding primary and secondary columns #}
{% endblock %}