{% extends "page.html" %}

{% set pkg = c.pkg_dict or pkg_dict %}

{% block breadcrumb_content_selected %} class="active"{% endblock %}

{% block subtitle %}{{ _('Datasets') }}{% endblock %}

{% block breadcrumb_content %}
  {% if pkg %}
    {% set dataset = h.dataset_display_name(pkg) %}
    {% if pkg.organization %}
      {% set org_title = h.get_translated(pkg.organization, 'title') or pkg.organization.name %}
      <li>{% link_for _('Data Providers'), controller='organization', action='index' %}</li>
      <li>{% link_for org_title|truncate(30), controller='organization', action='read', id=pkg.organization.name %}</li>
    {% else %}
      <li>{% link_for _('Datasets'), controller='package', action='search' %}</li>
    {% endif %}
    <li{{ self.breadcrumb_content_selected() }}>{% link_for dataset|truncate(30), controller='package', action='read', id=pkg.name %}</li>
  {% else %}
    <li>{% link_for _('Datasets'), controller='package', action='search' %}</li>
    <li class="active"><a href="">{{ _('Create Dataset') }}</a></li>
  {% endif %}
{% endblock %}

{% block pre_primary %}
  {% block package_description %}
    {% if pkg %}
      {% set thumbnail = h.ng_get_dataset_thumbnail_path(pkg) %}
      {% set col_title = pkg.title %}
      {% set col_name = h.get_extras_value(pkg.extras, 'collection_name') %}
      {% if col_name | length > 0 %}
        {% set col_link = h.get_collection_url(col_name) %}
      {% endif %}
      <div class="dataset-intro">
        <div class="dataset-detail-org-logo">
          <div class="image">
            <img src="{{ thumbnail }}" height= "210" width="210" alt="{{ pkg.name}} thumbnail" />
          </div>
        </div>
        {% if pkg.private %}
          <span class="dataset-private label label-inverse pull-right">
            <i class="fa fa-lock"></i>
            {{ _('Private') }}
          </span>
        {% endif %}
        <h1 class="dataset-detail-title">
          {% block page_heading %}
            {{ pkg.name }}
            {% if pkg.state.startswith('draft') %}
              [{{ _('Draft') }}]
            {% endif %}
            {% if pkg.state == 'deleted' %}
              [{{ _('Deleted') }}]
            {% endif %}
          {% endblock %}
        </h1>
        {% if pkg.organization %}
          {% set org_title = pkg.organization.get('title') or pkg.organization['name'] %}
          {% set org_link = h.url_for(controller='organization', action='read', id=pkg.organization.name) %}
          <h5 class="dataset-detail-title">{{ _('Published by ') }} <a href="{{ org_link }}">{{ org_title }}</a></h5>
        {% endif %}
        {% if col_link is defined %}
          <h5 class="dataset-detail-title">{{ _('Part of collection ') }} <a href="{{ col_link }}">{{ col_title }}</a></h5>
        {% endif %}
      </div>
    {% endif %}
  {% endblock %}
{% endblock %}
