{% extends "package/read_base.html" %}

{% set pkg = c.pkg_dict %}
{% set org_title = h.nextgeoss_get_org_title(pkg.owner_org) %}
{% set org_link = h.url_for(controller='organization', action='read', id=pkg.owner_org) %}
{% set org_logo = h.nextgeoss_get_org_logo(pkg.owner_org) %}

{% block pre_primary %}
  <div class="container single-column">
    {% snippet "package/snippets/nav_tabs.html", pkg=pkg %}
    {% block package_description %}
      <div class="dataset-detail-org-logo">
        <div class="image">
          <a href="{{ org_link }}">
            <img src="{{ org_logo or h.url_for_static('/base/images/placeholder-organization.png') }}" height= "100" width="100" alt="{{ org_title }}" />
          </a>
        </div>
      </div>
      {% if pkg.private %}
        <span class="dataset-private label label-inverse pull-right">
          <i class="fa fa-lock"></i>
          {{ _('Private') }}
        </span>
      {% endif %}
      <h1 class="dataset-detail-title">
        {% block page_heading %}
          {{ h.dataset_display_name(pkg) }}
          {% if pkg.state.startswith('draft') %}
            [{{ _('Draft') }}]
          {% endif %}
          {% if pkg.state == 'deleted' %}
            [{{ _('Deleted') }}]
          {% endif %}
        {% endblock %}
      </h1>
      <h5 class="dataset-detail-title">{{ _('Published by ') }} <a href="{{ org_link }}">{{ org_title }}</a></h5>
      <h5 class="dataset-detail-title">{{ _('Licensed under ') }} {% snippet "snippets/license_inline.html", pkg_dict=pkg %}</h5>
      {% block package_notes %}
         <div class="notes embedded-content dataset-notes">
        {% if pkg.notes %}
          {{ h.render_markdown(h.get_translated(pkg, 'notes')) }}
        {% else %}
          <p class="empty">{{ _('There is no description for this dataset') }}</p>    
        {% endif %}
        </div>
      {% endblock %}      

    {% endblock %}

    {% set dataset_extent = h.get_pkg_dict_extra(c.pkg_dict, 'spatial', '') %}
    {% if dataset_extent %}
      {% set thumbnail = h.get_pkg_dict_extra(c.pkg_dict, 'thumbnail', 'none') %}
      {% snippet "spatial/snippets/dataset_map_big.html", extent=dataset_extent, thumbnail=thumbnail %}
    {% endif %}

    {% block package_resources %}
      {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources %}
    {% endblock %}

    {% block package_additional_info %}
      {% snippet "package/snippets/additional_info.html", pkg_dict=pkg %}
    {% endblock %}

    {% block dataset_feedback %}
      {% snippet "package/snippets/community_feedback.html", pkg=pkg %}
    {% endblock %}

    {% snippet "snippets/social_inline.html" %}
  </div>

  <script>mobileTable();</script>

{% endblock %}

{% block single_column %}
  {# prevents page template from inluding primary and secondary columns #}
{% endblock %}
