{% extends "package/edit_base.html" %}

{% set has_reorder = c.pkg_dict and c.pkg_dict.resources and c.pkg_dict.resources|length > 0 %}

{% block subtitle %}{{ _('Resources') }} - {{ h.dataset_display_name(pkg) }}{% endblock %}

{% set pkg = c.pkg_dict %}
{% set org_title = pkg.organization.get('title') or pkg.organization['name'] %}
{% set org_link = h.url_for(controller='organization', action='read', id=pkg.owner_org) %}
{% set thumbnail_path = h.ng_get_dataset_thumbnail_path(pkg) %}

{% block pre_primary %}
  <div class="container single-column">
    {% snippet "package/snippets/edit_tabs.html", pkg=pkg %}
    {% block package_description %}
      {{ super() }}
    {% endblock %}

    <section id="dataset-resources" class="resources">
      <h3><i class="fa fa-download"></i> {{ _('Data and Resources') }}</h3>
      {% if pkg.resources %}
        <ul class="resource-list"{% if has_reorder %} data-module="resource-reorder" data-module-id="{{ pkg.id }}"{% endif %}>
          {% for resource in pkg.resources %}
            {% snippet 'package/snippets/resource_item.html', pkg=pkg, res=resource, url_is_edit=true %}
          {% endfor %}
        </ul>
      {% else %}
        {% trans url=h.url_for(controller='package', action='new_resource', id=pkg.name) %}
          <p class="empty">This dataset has no data, <a href="{{ url }}">why not add some?</a></p>
        {% endtrans %}
      {% endif %}
      <div class="add-res-btn">
        {% link_for _('Add new resource'), controller='package', action='new_resource', id=c.pkg_dict.name, class_='btn btn-primary btn-center', icon='plus' %}
      </div>
    </section>
  </div>
{% endblock %}

{% block secondary %}
{% endblock %}
