{% extends "package/edit_base.html" %}

{% set has_reorder = c.pkg_dict and c.pkg_dict.resources and c.pkg_dict.resources|length > 0 %}

{% block subtitle %}{{ _('Resources') }} - {{ h.dataset_display_name(pkg) }}{% endblock %}

{% set pkg = c.pkg_dict %}
{% set org_title = h.nextgeoss_get_org_title(pkg.owner_org) %}
{% set org_link = h.url_for(controller='organization', action='read', id=pkg.owner_org) %}
{% set org_logo = h.nextgeoss_get_org_logo(pkg.owner_org) %}


{% block pre_primary %}
  <div class="container single-column">
    {% snippet "package/snippets/edit_tabs.html", pkg=pkg %}
    {% block package_description %}
      <div class="dataset-detail-org-logo">
        <div class="image">
          <a href="{{ org_link }}">
            <img src="{{ org_logo or h.url_for_static('/base/images/placeholder-organization.png') }}" height= "100" width="100" alt="{{ org_title }}" />
          </a>
        </div>
      </div>
      {% if pkg.private %}
        <span class="dataset-private label label-inverse pull-right">
          <i class="fa fa-lock"></i>
          {{ _('Private') }}
        </span>
      {% endif %}
      <h1 class="dataset-detail-title">
        {% block page_heading %}
          {{ h.dataset_display_name(pkg) }}
          {% if pkg.state.startswith('draft') %}
            [{{ _('Draft') }}]
          {% endif %}
          {% if pkg.state == 'deleted' %}
            [{{ _('Deleted') }}]
          {% endif %}
        {% endblock %}
      </h1>
      <h5 class="dataset-detail-title">{{ _('Published by ') }} <a href="{{ org_link }}">{{ org_title }}</a></h5>
      <h5 class="dataset-detail-title">{{ _('Licensed under ') }} {% snippet "snippets/license_inline.html", pkg_dict=pkg %}</h5>
    {% endblock %}

    <section id="dataset-resources" class="resources">
      <h3><i class="fa fa-download"></i> {{ _('Data and Resources') }}</h3>
      {% if pkg.resources %}
        <ul class="resource-list"{% if has_reorder %} data-module="resource-reorder" data-module-id="{{ pkg.id }}"{% endif %}>
          {% for resource in pkg.resources %}
            {% snippet 'package/snippets/resource_item.html', pkg=pkg, res=resource, url_is_edit=true %}
          {% endfor %}
        </ul>
      {% else %}
        {% trans url=h.url_for(controller='package', action='new_resource', id=pkg.name) %}
          <p class="empty">This dataset has no data, <a href="{{ url }}">why not add some?</a></p>
        {% endtrans %}
      {% endif %}
      <div class="add-res-btn">
        {% link_for _('Add new resource'), controller='package', action='new_resource', id=c.pkg_dict.name, class_='btn btn-primary btn-center', icon='plus' %}
      </div>
    </section>
  </div>
{% endblock %}
