{% ckan_extends %}

{% block heading %}

  {% set org_title = package.organization.get('title') or package.organization['name'] %}
  {% set org_link = h.url_for(controller='organization', action='read', id=package.owner_org) %}
  {% set thumbnail_path = h.ng_get_dataset_thumbnail_path(package) %}
  {% set thumbnail = h.url_for_static(thumbnail_path)%}
  
  <div class="dataset-item-org-logo">
    <div class="image">
      <img src="{{ thumbnail }}" height= "210" width="210" alt="{{ package.name}} thumbnail" />
    </div>
  </div>

  {{ super() }}

  <div class="dataset-item-org-title">
    <a href="{{ org_link }}">{{ org_title }}</a>
  </div>
  <div class="dataset-item-org-license">
    {% snippet "snippets/license_inline.html", pkg_dict=package %} 
  </div>
{% endblock %}

{% block resources_inner %}
  <h5>{{ _('Download resources directly from source:') }}</h5>
  {% for resource in package.resources %}
    {% set url = resource.url %}
    {% if resource.format %}
      {% set format = resource.format|upper %}
    {% else %}
      {% set format = 'DATA' %}
    {% endif %}
    <li>
      <a href="{{ url }}" class="label"><i class="fa fa-download"></i>  {{ format }}</a>
    </li>
  {% endfor %}
{% endblock %}