{% ckan_extends %}

{% block heading %}

  {% set org_title = h.nextgeoss_get_org_title(package.owner_org) %}
  {% set org_link = h.url_for(controller='organization', action='read', id=package.owner_org) %}
  {%set org_logo = h.nextgeoss_get_org_logo(package.owner_org) %}
  <div class="dataset-item-org-logo">
        <div class="image">
          <a href="{{ org_link }}">
            <img src="{{ org_logo or h.url_for_static('/base/images/placeholder-organization.png') }}" height= "70" width="70" alt="{{ org_title }}" />
          </a>
        </div>
  </div>

  {{ super() }}

  <div class="dataset-item-org-title">
    <a href="{{ org_link }}">{{ org_title }}</a>
  </div>
  <div class="dataset-item-org-license">
    {% snippet "snippets/license_inline.html", pkg_dict=package %} 
  </div>
{% endblock %}

{% block resources_inner %}
  <h5>{{ _('Download resources directly from source:') }}</h5>
  {% for resource in package.resources %}
    {% if resource.format %}
      {% set url = resource.url %}
      {% set format = resource.format|upper %}
    {% else %}
      {% set url = h.url_for(controller='package', action='read', id=package.name) %}
      {% set format = 'DATA' %}
    {% endif %}
    <li>
      <a href="{{ url }}" class="label"><i class="fa fa-download"></i>  {{ format }}</a>
    </li>
  {% endfor %}
{% endblock %}