{% ckan_extends %}

{% block heading %}

  {% set thumbnail_path = h.ng_get_dataset_thumbnail_path(package) %}
  {% set thumbnail = h.url_for_static(thumbnail_path)%}

  <div class="dataset-item-org-logo">
    <div class="image">
      <img src="{{ thumbnail }}" height= "210" width="210" alt="{{ package.name}} thumbnail" />
    </div>
  </div>


  <h3 class="dataset-heading">
    {% block heading_private %}
      {% if package.private %}
        <span class="dataset-private label label-inverse">
          <i class="fa fa-lock"></i>
          {{ _('Private') }}
        </span>
      {% endif %}
    {% endblock %}
    {% block heading_title %}
      {{ h.link_to(h.truncate(package.name, truncate_title), h.url_for(controller='package', action='read', id=package.name)) }}
    {% endblock %}
    {% block heading_meta %}
      {% if package.get('state', '').startswith('draft') %}
        <span class="label label-info">{{ _('Draft') }}</span>
      {% elif package.get('state', '').startswith('deleted') %}
        <span class="label label-important">{{ _('Deleted') }}</span>
      {% endif %}
      {{ h.popular('recent views', package.tracking_summary.recent, min=10) if package.tracking_summary }}
    {% endblock %}
  </h3>

  <div class="dataset-item-org-title">
    {% set org_link = h.url_for(controller='organization', action='read', id=package.organization.name) %}
    <b>Provider:</b> <a href="{{ org_link }}">{{ package.organization.title }}</a>
  </div>

  <div class="dataset-item-org-license">
    {% for group in package.groups %}
      <b> Pilots: </b>
      {% set group_link = h.url_for(controller='group', action='read', id=group.name) %}
      <a href="{{ group_link }}">{{ group.title }}</a>
    {% endfor %}
  </div>

  <div class="dataset-item-org-license">
      {% set collection_name = h.get_extras_value(package.extras, 'collection_name') %}
      {% if collection_name is not none %}
        {% set collection_url = "/dataset?collection_name=" + collection_name.replace(' ', '+') %}
          <b> Collection: </b>  <a href="{{ collection_url }}"> {{ package.title }} </a>
      {% endif %}
  </div>


{% endblock %}

{% block resources_inner %}
  <h5>{{ _('Download resources directly from source:') }}</h5>
  {% for resource in package.resources %}
    {% set url = resource.url %}
    {% if resource.format %}
      {% set format = resource.format|upper %}
    {% else %}
      {% set format = 'DATA' %}
    {% endif %}
    <li>
      <a href="{{ url }}" class="label"><i class="fa fa-download"></i>  {{ format }}</a>
    </li>
  {% endfor %}
{% endblock %}