{# This snippet creates an Additional Info Table

extras is a list of tuples of the form (key, value)

#}

{% if extras %}
  <h3>{{ _('Information extracted from metadata file') }}</h3>

  {% if h.nextgeoss_get_topic_information(extras) %}
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" >
          About this resource</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse in show">
        <div class="panel-body">
          {% set topic_information = h.nextgeoss_get_topic_information(extras) %}
            <table class="table table-striped table-bordered table-condensed">
              <tbody>
                {% for extra in topic_information %}
                  {% set key, value = extra %}
                  {% if extra['key'] == 'topicCategory' %}
                    <tr rel="dc:relation" resource="_:extra{{ i }}">
                      <th scope="row" class="dataset-label" property="rdfs:label">Categories</th>
                      <td class="dataset-details" property="rdf:value">{{ extra['value'] }}</td>
                    </tr>
                  {% endif %}
                  {% if extra['key'] == 'tags' %}
                    <tr rel="dc:relation" resource="_:extra{{ i }}">
                      <th scope="row" class="dataset-label" property="rdfs:label">Keywords</th>
                      <td class="dataset-details" property="rdf:value">{{ extra['value'] }}</td>
                    </tr>
                  {% endif %}
                  {% if extra['key'] == 'otherConstraints' %}
                    <tr rel="dc:relation" resource="_:extra{{ i }}">
                      <th scope="row" class="dataset-label" property="rdfs:label">Legal Constraints</th>
                      <td class="dataset-details" property="rdf:value">{{ extra['value'] }}</td>
                    </tr>
                  {% endif %}
                  {% if extra['key'] == 'status_topic' %}
                    <tr rel="dc:relation" resource="_:extra{{ i }}">
                      <th scope="row" class="dataset-label" property="rdfs:label">Status</th>
                      <td class="dataset-details" property="rdf:value">On going</td>
                    </tr>
                  {% endif %}
                {% endfor %}
                  <tr rel="dc:relation" resource="_:extra{{ i }}">
                    <th scope="row" class="dataset-label" property="rdfs:label">Language</th>
                    <td class="dataset-details" property="rdf:value">English</td>
                  </tr>
                <tr rel="dc:relation" resource="_:extra{{ i }}">
                <th scope="row" class="dataset-label" property="rdfs:label">Contact for the resource:</th>
                  <td class="dataset-details" property="rdf:value">
                    VITO </br>
                    Boeretang 200, Mol, 2400, Belgium </br>

                    Originator : Erwin Goor (Research Enginner) </br>
                  </td>
              </tbody>
            </table>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
          Technical Information</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse show">
        <div class="panel-body">
          {% set contact_information = h.nextgeoss_get_distribution_information(extras) %}
            <table class="table table-striped table-bordered table-condensed">
              <tbody>
                {% for extra in contact_information %}
                    {% set key, value = extra %}
                    {% if extra['key'] == 'maintenanceAndUpdateFrequency' %}
                      <tr rel="dc:relation" resource="_:extra{{ i }}">
                        <th scope="row" class="dataset-label" property="rdfs:label">Update frequency:</th>
                        <td class="dataset-details" property="rdf:value">continual</td>
                      </tr>
                    {% endif %}
                    {% if extra['key'] == 'code' %}
                      <tr rel="dc:relation" resource="_:extra{{ i }}">
                        <th scope="row" class="dataset-label" property="rdfs:label">Coordinate reference system:</th>
                        <td class="dataset-details" property="rdf:value">{{ extra['value'] }}</td>
                      </tr>
                    {% endif %}
                    {% if extra['key'] == 'lineage' %}
                      <tr rel="dc:relation" resource="_:extra{{ i }}">
                        <th scope="row" class="dataset-label" property="rdfs:label">Lineage:</th>
                        <td class="dataset-details" property="rdf:value">{{ extra['value'] }}</td>
                      </tr>
                    {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
            Metadata information</a>
          </h4>
        </div>
        <div id="collapse7" class="panel-collapse collapse show">
          <div class="panel-body">
            {% set contact_information = h.nextgeoss_get_contact_information(extras) %}
              <table class="table table-striped table-bordered table-condensed">
                <tbody>
                  <tr rel="dc:relation" resource="_:extra{{ i }}">
                <th scope="row" class="dataset-label" property="rdfs:label">Contact for the resource:</th>
                  <td class="dataset-details" property="rdf:value">
                    VITO </br>
                    Boeretang 200, Mol, 2400, Belgium </br>

                    Point of contact : <a href="mailto:erwin.goor@vito.be"> Erwin Goor (Research Enginner) </a> </br>
                  </td>
                </tr>
                  <tr rel="dc:relation" resource="_:extra{{ i }}">
                    <th scope="row" class="dataset-label" property="rdfs:label">Metadata language</th>
                    <td class="dataset-details" property="rdf:value">English</td>
                  </tr>

                <tr rel="dc:relation" resource="_:extra{{ i }}">
                    <th scope="row" class="dataset-label" property="rdfs:label">Identifier</th>
                    <td class="dataset-details" property="rdf:value">f338b91c-e6fd-4a9e-adef-37ed82810a71</td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% else %}
    <h3>Metadata information not available</h3>
{% endif %}