{#
Displays a list of datasets.

packages       - A list of packages to display.
list_class     - The class name for the list item.
item_class     - The class name to use on each item.
hide_resources - If true hides the resources (default: false).
banner         - If true displays a popular banner (default: false).
truncate       - The length to trucate the description to (default: 180)
truncate_title - The length to truncate the title to (default: 80).

Example:

  {% snippet 'snippets/collections_list.html', collections=c.collections %}

#}
{% block package_list %}
  {% if collections %}
    <ul class="dataset-list resource-list">
    	{% block package_list_inner %}
	      {% for collection in collections %}
          {% if collection.name %}
          <li class="dataset-item">
              <div class="dataset-content topic-collection">
                <h3 class="dataset-heading">
                  {% set collection_name = collection.name.replace(' ', ('+')) %}
                  <a href="/dataset?collection_name={{collection_name}}">{{collection.name}}</a>
                </h3>
                <hr>
                <div>{{ collection.description }}</div>
              </div>
          </li>
          {% endif %}
	      {% endfor %}
	    {% endblock %}
    </ul>
  {% endif %}
{% endblock %}
