{% extends "page.html" %}
{% block content %}

<div role="main" class="hero">
  <div class="hero-text">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h1 class="hero-title">{{ _('Collections')|safe }}</h1>
        <h4 class="hero-subtitle">{{ _('')|safe }}</h4>
      </div>
    </div>
  </div>
</div>

{% set collections_count = h.get_collections_count() %}
{% set counter = 0 %}
{% set counter_collections = 3 %}

<div class="container">
  <div class="section text-center section-landing">
    <div class="row">
      <div class="topic-list">
        {% for _ in range(counter_collections, collections_count) %}
          <div class="row">
            {% for key, value in collection_list.items()[counter:counter_collections] %}
              <div class="col-md-4">
                <div class="light">
                  <div>{{ value.name }}</div>
                  <p class="text-center">{{ value.description }}</p>
                  {% set collections_link = h.get_collections_tags(key) %}
                  <a href={{ collections_link }}> Go to collection </a>
                </div>
              </div>
            {% endfor %}            
          </div>
          </br>
          {% set counter = counter + 3 %}
          {% set counter_collections = counter_collections + 3 %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

</div>
{% endblock %}