{% extends "page.html" %}

{% block subtitle %}{{ _('Cookies') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Cookies'), controller='ckanext.nextgeoss.controller:StaticController', action='cookies' %}</li>
{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content">
      <h1 class="page-heading">Cookies</h1>

      <p>A cookie is a small file which asks permission to be placed on your computer’s hard drive. Once you agree, the file is added and the cookie helps analyse web traffic or lets you know when you visit a particular site. Cookies allow web applications to respond to you as an individual. The web application can tailor its operations to your needs, likes and dislikes by gathering and remembering information about your preferences.</p>

      <p>Overall, cookies help us to provide you with a better website, by enabling us to monitor which pages you find useful and which you do not. A cookie in no way gives us access to your computer or any information about you, other than the data you choose to share with us.</p>

      <p>You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline or block cookies if you prefer. This may prevent you from taking full advantage of the website. Please note by continuing to browse our site, you are agreeing to our use of cookies.</p>

      <h3>How we use cookies</h3>

      <p>The NextGEOSS data hub site uses cookies. These cookies are listed below with more details about why we use them.</p>

      <p>The data hub is based on the open source CKAN application. CKAN uses a cookie to keep track whether a user is logged in and whether they have selected specific preferences.</p>

      <p>The data hub also relies on third-party services that set their own cookies. The Bootstrap CDN, which is used for the data hub's user interface, uses an analytics cookie for generating usage statistics. Atlassian, which provides the data hub's bug tracking integration, also uses several cookies for usage analytics as well as for enabling the functionality of the bug tracker.</p>



    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
