{% extends "page.html" %}

{% block subtitle %}{{ _('API & Development Tutorials') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('API & Development Tutorials'), controller='ckanext.nextgeoss.controller:StaticController', action='develop' %}</li>
{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content">
      <h1 class="page-heading">How to Use the API and Develop Apps</h1>

      <p>This page is a stub.</p>

      <p>This page will contain information about:</p>
      <ul>
        <li>Using the API</li>
        <li>Developing applications using NextGEOSS data</li>
        <li>Guidelines</li>
        <li>Contact information</li>
      </ul>

    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
