{% extends "page.html" %}

{% block subtitle %}{{ _('Use Data') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Use Data'), controller='ckanext.nextgeoss.controller:StaticController', action='use' %}</li>
{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content">
      <h1 class="page-heading">How to Use Data</h1>

      <p>This page is a stub.</p>

      <p>This page will contain information about:</p>
      <ul>
        <li>Using datasets</li>
        <li>Examples from the showcase</li>
        <li>Guidelines</li>
        <li>Contact information</li>
      </ul>

    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
