<section class="additional-info" id="community-feedback">

  <h3 id="community-feedback-header"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{ _('Community Feedback') }}</h3>

  <!--To be used unly until the metadata schema (and thus the real catalogue namespace, etc.) are determined.
  This two-step processed is only used to avoid creating another helper function that would just be removed later -->
  {% set catalogue_url = h.get_site_protocol_and_host() %}
  {% set source_namespace = h.ng_get_source_namespace(pkg) or  '%s://%s'|format(catalogue_url[0], catalogue_url[1])%}
  {% set source_id = h.ng_get_from_extras(pkg, 'identifier') or h.ng_get_from_extras(pkg, 'uuid') or pkg['id'] %}
  {% set title = pkg.get('title', pkg['name']) %}

  <!-- Display the community feedback if available -->
  <div id = "community-feedback-block">
    <div id="community-feedback-anchor"></div>
    <script>communityFeedback("{{ source_id }}", "{{ source_namespace }}", "{{ title }}");</script>
  </div>

</section>