{% ckan_extends %}

{% block header_wrapper %}

  {% block header_account %}
    {#
      If user object exists, show user toolbar on top.
      Users should be able to access settings, change password etc.
    #}
    {% if c.userobj %}
    <header class="account-masthead">
        <div class="container">
          {% block header_account_container_content %}
              <div class="account avatar authed" data-module="me" data-me="{{ c.userobj.id }}">
                <ul class="unstyled">
                  {% block header_account_logged %}
                  {% if c.userobj.sysadmin %}
                    <li>
                      <a href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}">
                        <i class="fa fa-gavel" aria-hidden="true"></i>
                        <span class="text">{{ _('Admin') }}</span>
                      </a>
                    </li>
                  {% endif %}
                  <li>
                    <a href="{{ h.url_for(controller='user', action='read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
                      {{ h.gravatar((c.userobj.email_hash if c and c.userobj else ''), size=22) }}
                      <span class="username">{{ c.userobj.display_name }}</span>
                    </a>
                  </li>
                  {% set new_activities = h.new_activities() %}
                  <li class="notifications {% if new_activities > 0 %}notifications-important{% endif %}">
                    {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities) %}
                    <a href="{{ h.url_for(controller='user', action='dashboard') }}" title="{{ notifications_tooltip }}">
                      <i class="fa fa-tachometer" aria-hidden="true"></i>
                      <span class="text">{{ _('Dashboard') }}</span>
                      <span class="badge">{{ new_activities }}</span>
                    </a>
                  </li>
                  {% block header_account_settings_link %}
                    <li>
                      <a href="{{ h.url_for(controller='user', action='edit', id=c.userobj.name) }}" title="{{ _('Edit settings') }}">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        <span class="text">{{ _('Settings') }}</span>
                      </a>
                    </li>
                  {% endblock %}
                  {% block header_account_log_out_link %}
                    <li>
                      <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        <span class="text">{{ _('Log out') }}</span>
                      </a>
                    </li>
                  {% endblock %}
                  {% endblock %}
                </ul>
              </div>
          {% endblock %}
        </div>
      </header>
    {% endif %}
  {% endblock %}

  <header class="navbar navbar-static-top masthead">
    {% block header_debug %}
      {{ super() }}
    {% endblock %}

    <div class="container">
      <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
        <span class="fa fa-bars"></span>
      </button>

      {# The .header-image class hides the main text and uses image replacement for the title #}
      <hgroup class="{{ g.header_class }} pull-left">
        {% block header_logo %}
          {{ super() }}
        {% endblock %}
      </hgroup>

      <div class="nav-collapse collapse">
        {% block header_site_navigation %}
          <nav class="section navigation">
            <ul class="nav nav-pills">
              {% block header_site_navigation_tabs %}
                {{ h.build_nav_main(
                  ('home', _('Catalogue')),
                  ('collections', _('Collections')),
                  ('search', _('Datasets')),
                  ('provider_index', _('Providers')),
                  ('topic_index', _('Topics')),
                  ('opensearch', _('OpenSearch')),
                  ('about', _('About'))
                ) }}
              {% endblock %}
            </ul>
          </nav>
        {% endblock %}
      </div>
    </div>
  </header>

{% endblock %}