{% block header_wrapper %}
  <div class="disclaimer">
    <p>{{ h.nextgeoss_get_bug_disclaimer() }}</p>
  </div>

  <header class="navbar navbar-static-top masthead">
    {% block header_debug %}
      {% if g.debug and not g.debug_supress_header %}
        <div class="debug">Controller : {{ c.controller }}<br/>Action : {{ c.action }}</div>
      {% endif %}
    {% endblock %}

    <div class="container">
      <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      {# The .header-image class hides the main text and uses image replacement for the title #}
      <hgroup class="{{ g.header_class }} pull-left">
        {% block header_logo %}
          {% if g.site_logo %}
            <a class="logo" href="{{ h.url_for('home') }}"><img src="{{ h.url_for_static_or_external(g.site_logo) }}" alt="{{ g.site_title }}" title="{{ g.site_title }}" /></a>
          {% else %}
            <h1>
              <a href="{{ h.url_for('home') }}">{{ g.site_title }}</a>
            </h1>
            {% if g.site_description %}<h2>{{ g.site_description }}</h2>{% endif %}
          {% endif %}
        {% endblock %}
      </hgroup>

      <div class="nav-collapse collapse">
        {% block header_site_navigation %}
          <nav class="section navigation">
            <ul class="nav nav-pills">
              {% block header_site_navigation_tabs %}
                {{ h.build_nav_main(
                  ('home', _('Home')),
                  ('search', _('Datasets')),
                  ('provider_index', _('Providers')),
                  ('topic_index', _('Topics')),
                  ('about', _('About'))
                ) }}
              {% endblock %}
            </ul>
          </nav>
        {% endblock %}
      </div>
    </div>
  </header>
{% endblock %}