{% ckan_extends %}

{%- block page -%}

{% set url = h.current_url() %}
{% if c.userobj.about != "true" and url != "/user/login" and  url != "/user/register" %}
  <article class="module">
    <div class="module-content">
        <h1 class="text-center">NextGEOSS is in a Closed Beta Phase</h1>
        <div class="beta-access">
          <p>To use the data hub during the closed beta phase you'll need to log in or register for an account.</p>
          <p>Only participants in the closed beta may register.</p>
          <p>Once the closed beta is completed, the data hub will be open to all users and will not require an account to use.</p>
          </br>
          <div class="text-center">
            <a href="/user/login" class="btn btn-primary" type="button">{{ _('Log in') }}</a> or <a href="/user/register" class="btn btn-primary" type="button">{{ _('Register') }}</a>
          </div>
        </div>

    </div>
  </article>


{% else %}
  {% block skip %}
    {{ super() }}
  {% endblock %}

  {%- block header %}
    {{ super() }}
  {% endblock -%}

  {% block toolbar %}
    <div class="toolbar">
      {% block breadcrumb %}
        {% if self.breadcrumb_content() | trim %}
          <ol class="breadcrumb">
            {% snippet 'snippets/home_breadcrumb_item.html' %}
            {% block breadcrumb_content %}{% endblock %}
          </ol>
        {% endif %}
      {% endblock %}
    </div>
  {% endblock %}

  {%- block content %}
    {% block maintag %}<div role="main">{% endblock %}
      <div id="content" class="container">


        {% block main_content %}


          {% block flash %}
            {{ super() }}
          {% endblock %}

          <div class="row wrapper{% block wrapper_class %}{% endblock %}{% if self.secondary()|trim == '' %} no-nav{% endif %}">
            {% block pre_primary %}
            {% endblock %}

            {% block primary %}
              {{ super() }}
             {% endblock %}

            {% block secondary %}
              {{ super() }}
            {% endblock %}
         </div>
        {% endblock %}

      </div>
    </div>
  {% endblock -%}

  {#
  Override the footer on a page by page basis by extending this block. If
  making sitewide header changes it is preferable to override the footer.html-u
  file.
  #}
  {%- block footer %}
    {% include "footer.html" %}
  {% endblock -%}
{% endif %}
{%- endblock -%}

{%- block scripts %}
  {% resource 'base/main' %}
  {% resource 'base/ckan' %}
  {% if g.tracking_enabled %}
    {% resource 'base/tracking.js' %}
  {% endif %}
  {{ super() }}
{% endblock -%}