<div role="main" class="hero">
  <div class="hero-text">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h1 class="hero-title">{{ _('Europe&#8217;s Earth</br>Observation Data Hub')|safe }}</h1>
        <h4 class="hero-subtitle">{{ _('Search satellite, remote sensing, in situ, and citizen science data about climate change, agriculture, polution and more.')|safe }}</h4>
      </div>
    </div>
  </div>
</div>

<div class="search-box">
  <div class="container">
    <div class="section text-center section-landing">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          {% snippet 'home/snippets/search.html' %}
        </div>
        <div class="col-md-8 col-md-offset-2">
          <h5 class="description">{{ _('Want to explore the full the catalogue instead?') }}</h5>
          <a href="{{ h.url_for('dataset') }}" class="btn btn-primary">{{ _('Start exploring') }}</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="section text-center section-landing">
    <div class="row">
      <h2 class="title"><img src="ship.jpg" alt="Ship" height="166" width="166"> {{ _('How to get started?') }}</h2>
      <div class="topic-list">
        <div class="row">
          <div class="col-md-4">
            <div class="info">
              <img src="provide.jpg" alt={{ _('Provide') }} class="img-square">
              <p class="text-center">{{ _('If you have your own data and wish to become a NextGEOSS provider, you can contribute to our catalogue. Private companies, public institutions, and even citizen scientists are doing their part.') }}</p>
              <a href="{{ h.url_for(controller='ckanext.nextgeoss.controller:StaticController', action='provide') }}" class="btn btn-primary">{{ _('Find out how') }}</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info">
              <img src="use.jpg" alt={{ _('Use') }} class="img-square">
              <p class="text-center">{{ _("You can use data available from the catalogue and see what it's possible to achieve with open data. People are using open data to prevent disasters, discover new resources, and more.") }}</p>
              <a href="{{ h.url_for(controller='ckanext.nextgeoss.controller:StaticController', action='use') }}" class="btn btn-primary">{{ _('Explore use cases') }}</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info">
              <img src="develop.jpg" alt={{ _('Develop') }} class="img-square">
              <p class="text-center">{{ _('You can work with open geo data to develp your own applications by following the API tutorials and documentation. Learn how to integrate NextGEOSS in your research and reporting workflow.') }}</p>
              <a href="{{ h.url_for(controller='ckanext.nextgeoss.controller:StaticController', action='develop') }}" class="btn btn-primary">{{ _('Start developing') }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="section text-center section-landing">
    <h2 class="title lined" id="explore"><span><img src="compass.jpg" alt="Compass" height="80" width="80"> {{ _('Explore Topics') }}</span></h2>
    <div class="topic-list">
      <div class="row">
        {% block featured_group %}
          {% snippet 'home/snippets/featured_group.html' %}
        {% endblock %}
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center">
          <a href="{{ h.url_for('group') }}" class="btn btn-primary">{{ _('View all topics') }}</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="section landing-section">
    <h2 class="text-center title lined"><span>{{ _('Where Does the Data Come From?') }}</span></h2>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h4 class="text-left description">{{ _('GEOSS (Global Earth Observation System of Systems) is a central part of GEO’s Information System’s mission. The NextGEOSS project, a European contribution to GEOSS, proposes to develop the next generation centralised hub for Earth Observation data, where the users can connect to access data and deploy EO-based applications.') }}</h4>
        <div class="row">
          <div class="col-md-4 col-md-offset-4 text-center">
            <a href="{{ h.url_for('provider') }}" class="btn btn-primary">{{ _('Find out more') }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
