{% ckan_extends %}

{% block pre_primary %}
  {% set group = c.group_dict %}
    <div class="container single-column group-org-header" xmlns="http://www.w3.org/1999/html">
    {{ super() }}

    {% block package_description %}
      <div class="dataset-detail">
        <div class="dataset-detail-org-logo">
          <div class="image">
            <a href="{{ group_url }}"></a>
              <img src="{{ c.group_dict.image_display_url or h.url_for_static('/base/images/placeholder-organization.png') }}" height= "100" width="100" alt="{{ c.group_dict.title }}" />
            </a>
          </div>
        </div>

        <h1 class="dataset-detail-title">
            {% block page_heading %}
            {% set name = c.group_dict.title or c.group_dict.name %}
            {{ name }}
          {% endblock %}
        </h1>

        <h5 class="dataset-detail-title">Curated by NextGEOSS</h5>
        <h5 class="dataset-detail-title">More information coming soon</h5>

        {% block package_notes %}
          {% if c.group_dict.description %}
            <div class="notes embedded-content dataset-notes">
              {{ h.render_markdown(_(c.group_dict.description)) }}
            </div>
          {% endif %}
        {% endblock %}
      </div>
    {% endblock %}
  </div>
{% endblock %}

{% block primary_content_inner %}
  {{ super() }}
{% endblock %}

{% block secondary_content %}
  <div class="filters">
    <div>
      <div class="filters-header">
        <i class="fa fa-lg fa-filter"></i>
        <span class="filters-header__title">{{ _('Filters') }}</span>
      </div>
        {# We need to change this!!!
        what do we want to display in the Metadata tab??? #}
        There are no filters available in this section </br>

    </div>
    <a class="close no-text hide-filters"><i class="fa-remove-sign"></i><span class="text">close</span></a>
  </div>
{% endblock %}