{% extends "page.html" %}

{% block subtitle %}{{ _('Topics') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Topics'), controller='group', action='index' %}</li>
{% endblock %}

{% block page_header %}{% endblock %}


{% block primary %}
  <article class="module">
    <div class="module-content">
{% block page_primary_action %}
  {% if h.check_access('group_create') %}
    {% link_for _('Add Topic'), controller='group', action='new', class_='btn btn-primary', icon='plus-sign-alt' %}
  {% endif %}
{% endblock %}
  <h1 class="page-heading">{% block page_heading %}{{ _('Topics') }}{% endblock %}</h1>
    {% snippet "group/snippets/helper.html" %}

  {% set count = c.page.items|length %}
  {% set topics_count = ungettext('{number} topic', '{number} topics', count) %}
  {% set topics_none = _('No topics yet') %}
  {%- if count -%}
    {% set topics_count = topics_count.format(number=h.localised_number(count)) %}
  {%- else -%}
    {% set topics_count = topics_none %}
  {% endif %}
  <h2 class="text-center">{{ topics_count }}</h2>

  {% block groups_list %}
    {% if c.page.items or request.params %}
      {% if c.page.items %}
        {% snippet "group/snippets/group_list.html", groups=c.page.items %}
      {% endif %}
    {% else %}
      <p class="empty">
        {{ _('There are currently no topics for this site') }}.
        {% if h.check_access('group_create') %}
          {% link_for _('How about creating one?'), controller='group', action='new' %}</a>.
        {% endif %}
      </p>
    {% endif %}
  {% endblock %}
  {% block page_pagination %}
    {{ c.page.pager(q=c.q or '', sort=c.sort_by_selected or '') }}
  {% endblock %}
</div>
</article>
{% endblock %}

{% block secondary %}{% endblock %}