{% extends "group/read_base.html" %}

{% block subtitle %}{{ c.group_dict.display_name }}{% endblock %}

{% block pre_primary %}
  {% set group = c.group_dict %}
  <div class="container single-column group-org-header">
    {{ super() }}

    {% block package_description %}
      <div class="dataset-detail-org-logo">
        <div class="image">
          <a href="{{ group_url }}">
            <img src="{{ c.group_dict.image_display_url or h.url_for_static('/base/images/placeholder-organization.png') }}" height= "100" width="100" alt="{{ c.group_dict.title }}" />
          </a>
        </div>
      </div>

      <h1 class="dataset-detail-title">
          {% block page_heading %}
          {% set name = c.group_dict.title or c.group_dict.name %}
          {{ name }}
        {% endblock %}
      </h1>

      <h5 class="dataset-detail-title">Curated by NextGEOSS</h5>

      {% snippet 'group/snippets/search_link.html', count=c.page.item_count, group_name=c.group_dict.name %}

      {% block package_notes %}
         <div class="notes embedded-content dataset-notes">
        {% if c.group_dict.description %}
          {{ h.render_markdown(_(c.group_dict.description)) }}
        {% else %}
          <p class="empty">{{ _('There is no description for this topic') }}</p>    
        {% endif %}
        </div>
      {% endblock %}
    {% endblock %}

  </div>
  </br>
  {% snippet 'group/snippets/search_more.html', count=c.page.item_count, group_name=c.group_dict.title or c.group_dict.name %}
{% endblock %}


{% block single_column %}
  {# prevents page template from inluding primary and secondary columns #}
{% endblock %}