{% extends "group/read_base_primary.html" %}

{% set group = c.group_dict %}

{% block pre_primary %}
  {{ super() }}
{% endblock %}


{% block primary_content_inner %}
  <h3 class="topic-collections-title"><i class="fa fa-info-circle"></i> Data Collections used by Pilot: </h3>

  {% block packages_list %}
    {% if c.collections %}
      {{ h.snippet('group/snippets/collections_list.html', collections=c.collections) }}
    {% endif %}
  {% endblock %}

{% endblock %}

{% block secondary_content %}
{% endblock %}