body, input, button, select, textarea {
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.5em;
}
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
  font-family: "Raleway", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.5em;
}
.navbar {
    margin-bottom: 0px;
    background-color: #FFFFFF;
}
.masthead .nav > li > a, .masthead .nav > li {
    color: #000000;
}
.nav-collapse {
    display: block;
}
nav.section.navigation {
    padding: 0px;
}
body,.masthead, [role="main"], .main {
  background-image: none;
  background-color: #FFFFFF;
}
[role="main"] {
    padding-top: 0px;
}
.site-footer {
    background-color: #292929;
    background-image: none;
    margin-top: 30px;
}
.hero {
    height: auto;
    background: none;
    background-size: cover;
    background-image: url(/hero.jpg);
}
.search-box {
  background-color: #D7EDEC;
  background-size: cover;
}
.search-form {
    border-bottom: none;
    margin-bottom: 10px;
    padding-bottom: 0px;
}
.homepage [role=main] {
    padding: 0px;
}
.col-md-8.col-md-offset-2 {
    margin-bottom: 20px;
}
.info {
  max-width: 360px;
  margin: 0 auto;
  padding: 0px 0 30px;
}
}
.info .info-title {
  color: #3C4858;
  margin: 30px 0 15px;
}
.info p {
  color: #999999;
}
.section-navigation {
    z-index: 999;
}
.section {
  padding: 10px 0 20px;
}
.topic-list {
  margin-top: 40px;
}

.topic-list .topic-item {
  max-width: 250px;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}
*:focus {
  outline: 0;
}

a:focus, a:active,
button:active, button:focus, button:hover,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  outline: 0 !important;
}

.topic-list .topic-item .title {
  margin-top: 0px;
  margin-bottom: 30px;
}
.topic-list .topic-item img {
  max-width: 170px;
}
.hero {
  height: 60vh;
}
.hero .container {
  padding-top: 7%;
}
.hero h1 {
  color: #38A79F;
  font-weight: 700;
}
.hero h4 {
  color: #292929;
  font-weight: 500;
}
.navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: auto;
}
.btn-primary {
    color: #fff;
    background-color: #38A79F;
    border-color: #38A79F;
    border-radius: 0px;
    font-size: 16px;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #38A79F;
  *background-color: #38A79F;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #38A79F \9;
}
h2.heading {
    margin-bottom: 15px;
}
.col-md-8.col-md-offset-2 {
    margin-bottom: 0px;
}
.span9 {
    width: 80%;
}
.masthead .navigation .nav-pills li a:hover, .masthead .navigation .nav-pills li.active a {
    background-color: #38A79F;
}
.toolbar {
    background-color: #D7EDEC;
    padding-right: 15px;
    padding-left: 30px;
    margin: 0px;
}
.span3 {
    background-color: #D7EDEC;
    border-radius: 4px;
    border: 1px solid #dddddd;
}
.module-heading {
    background-color: inherit;
    border-top: none;    
}
.filters-header {
    text-align: center;
    border-bottom: 2px solid #484A4C;
}
.wrapper {
    border: none;
    background: none;
    -webkit-box-shadow: none;
    -box-shadow: none
}
.search-result-count {
    text-align: left;
}
#green {
    background-color: #D7EDEC;
    border-radius: 0px 0px 4px 4px;
    border: 0px 1px 1px 1px solid #dddddd;
    margin-top: -30px;
    height: 300px;
}
#green:first-child {
  padding-top: 0;
}
li.dataset-item {
    border-radius: 4px;
    border: 1px solid #dddddd;
    padding: 35px !important;
    box-shadow: 0px 3px 13px -2px rgb(173, 173, 173);
}
.dataset-heading {
}
.dataset-heading a {
    color: #38A79F;
    font-size: 1.5em;
    font-weight: 400;
}
.module {
    margin-top: 0px;
    margin-bottom: 30px;
}
.breadcrumb>li+li:before {
    content: none;
}
.toolbar .breadcrumb .active a, .toolbar .breadcrumb a.active {
    font-weight: inherit;
}
h2.title {
  font-weight: 400;
}
h2.lined {
    font-weight: 400;
    position: relative;
    z-index: 1;
    text-align:center;
}
h2.lined::before
{
  border-top: 2px solid #292929;
  content:"";
  margin: 0 auto
 ; position: absolute; 
  top: 50%; left: 0; right: 0; bottom: 0;
  z-index: -1;
}
h2 span
{
  background: #fff; 
  padding: 0 20px; 
}
.info {
      box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
      padding-bottom: 15px;
}
.info p {
    color: inherit;
}
h4.title {
    padding-bottom: 20px;
}
h4.title a {
    color: #38A79F;
}
.topic-item a img {
    padding-top: 30px;
    padding-bottom: 20px;
}
.topic-list .text-center {
  margin-top: 15px;
  margin-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
.container .toolbar {
  margin-left: -15px;
  margin-right: -15px;
}

.module-narrow #dataset-map-container {
  height: 400px;
}

#dataset-map-attribution {
  display: none;
}

#dataset-map .module-heading {
  display: none;
}

.datasets-search-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.datasets-search-form-container__controls {
  display: flex;
  justify-content: center;
}

.datasets-search-form-container__controls .search-input {
  width: 560px;
}

.datasets-search-form-container__controls .search {
  border-radius: 8px;
  padding-left: 70px !important;
  box-shadow: 0px 3px 13px -2px rgb(173, 173, 173);
}

.datasets-search-form-container__controls select {
  border-radius: 8px;
  box-shadow: 0px 3px 13px -2px rgb(173, 173, 173);
  width: 325px !important;
  height: 52px;
  padding-left: 25px;
  margin-left: 15px;
}

.filters-header {
  margin-top: 30px;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.filters-header .icon-filter {
  font-size: 15px;
  position: relative;
  top: -3px;
}

.filters-header__title {
  font-size: 20px;
}

.datasets-page .span3 {
  width: 30%;
  box-shadow: 0px 3px 13px -2px rgb(173, 173, 173);
}

.datasets-page .span9 {
  width: 70%;
}

.datasets-page .span9 div.module-content {
  padding-left: 25px !important;
}

.datasets-filters-facet-title {
  margin-left: 20px;
  margin-right: 20px;
  border-bottom-color: #146304;
  padding-left: 3px !important;
  padding-right: 3px !important;
}

.datasets-page .module-content:first-child {
  padding-top: 0;
}

.datasets-page .module-content {
  padding-right: 0;
}

.dataset-item-org-title {
  color: #673fb0;
  margin-top: -7px;
  margin-bottom: 20px;
}

.dataset-resources li a {
  padding: 7px 15px;
  font-size: 14px;
  background-color: #38A79F;
}

.dataset-resources {
  margin-top: 40px;
}