.custom_card
{
    background-color:#f7f7f7;
    padding: 20px;
    margin-top:20px;
}
.custom_card h4
{
   color: #168b79;
   font-weight:normal;
   margin-bottom: 0;
   margin-top:0;
   padding-top:5px;
}
.custom_card a {
    color:#168b79;
}
.custom_card p
{
    margin-top: 10px;
    color:#5a5a5a;
}
.custom_card span
{
    color:#b4b3b3;
}
.custom_card a
{
    text-decoration:underline;;
}
