.custom_card
{
    background-color: #f7f7f7;
    padding: 20px;
    margin-top: 20px;
    min-height: 261px;
    position: relative;
}
.custom_card h4
{
   color: #168b79;
   font-weight:normal;
   margin-bottom: 0;
   margin-top:0;
   padding-top:5px;
}

.custom_card a {
    color:#168b79;
}

.custom_card p
{
    margin-top: 10px;
    color:#5a5a5a;
}

.custom_card .card_head span
{
  color:#6b6b6b;
  font-weight:600;
}
.custom_card a
{
    text-decoration: underline;
    color: #168b79;
}
.custom_card .card_head a {
  font-size: 17px;
}
.custom_card .card_body {
  height:auto;
  min-height:90px;
  padding-top:15px;
  padding-bottom:15px;
}
a.morelink {
  text-decoration:none;
  outline: none;
}
.morecontent span {
  display: none;
}
.custom_card img {
  max-width: 50px !important;
}
.collection_link {
  position: absolute;
  bottom: 20px;
}

.custom_card span
{
    color:#b4b3b3;
}
.custom_card a
{
    text-decoration:underline;;
}
